<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942341223041-rjvg6deu9j7346v3vgtdq86s0332con9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942341223041-rjvg6deu9j7346v3vgtdq86s0332con9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>942341223041-l5v9c05g4j3i9kla6037nbgh1vog5kcc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSyUwheoI5HVjQljJxbwhaSJ2vAELrbJk</string>
	<key>GCM_SENDER_ID</key>
	<string>942341223041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopapp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-getx-00</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-getx-00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942341223041:ios:db6c466906aa7a5a5e1380</string>
</dict>
</plist>